{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
          <div class="col-12"><h2 class="text-center">各年代熱門新生男性嬰兒姓名</h2></div>
          <!-- <div class="col-12"><h2 class="text-center">簡單又快速</h2></div> -->
          <div class="col-12">
            <h6 class="text-center" style="color: rgba(0, 0, 0, 0.352)">
              根據美國社會安全局
            </h6>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row justify-content-center">
        <!-- select year -->
        <div class="yearSelect card col-xl-1 m-2">
            <div class="col-12 my-2">
                <label class="col-12 my-1 col-form-label col-form-label-lg" for="year">年份</label>
                <select name="decade" id="year" class="form-control col-12">
                <option value="">1990</option>
                <option value="">2000</option>
                <option value="">2010</option>
                <option value="">2020</option>
                </select>
            </div>
            <div class="col-12 my-2">
                <button type="submit" class="btn btn-primary">輸入</button>
            </div>
        </div>
        <!-- show name -->
        <div class="col-xl-5 card m-2 px-4 yearName">
            <table class="table yearName my-4">
                <thead>
                  <tr>
                    <th class="tableItem" scope="col">排名</th>
                    <th class="tableItem" scope="col">名字</th>
                    <th class="tableItem" scope="col">人數</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="tableItem" scope="row">1</th>
                    <td class="tableItem">Noah</td>
                    <td class="tableItem">183,172</td>
                  </tr>
                  <tr>
                    <th class="tableItem" scope="row">2</th>
                    <td class="tableItem">Liam</td>
                    <td class="tableItem">173,888</td>
                  </tr>
                  <tr>
                    <th class="tableItem" scope="row">3</th>
                    <td class="tableItem">Liam</td>
                    <td class="tableItem">173,888</td>
                  </tr>
                  <tr>
                    <th class="tableItem" scope="row">4</th>
                    <td class="tableItem">Liam</td>
                    <td class="tableItem">173,888</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>

{% endblock content %}
