{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-4">

          {% if gender == "boy" %}
          <div class="col-12"><h2 class="text-center">歷史熱門新生男性嬰兒姓名</h2></div>
          {% else %}
          <div class="col-12"><h2 class="text-center">歷史熱門新生女性嬰兒姓名</h2></div>
          {% endif %}
          
          <div class="col-12">
            <h6 class="text-center" style="color: rgba(0, 0, 0, 0.352)">
              根據美國社會安全局
            </h6>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row justify-content-center">
        <!-- select year -->
        <div class="yearSelect card col-xl-1 m-2">
              <div class="col-12 my-2" id="test">
                <label class="col-12 my-1 col-form-label col-form-label-lg" for="year">年份</label>
                {% csrf_token %}
                <select name="decade" id="year" class="form-control col-12">
                </select>
              </div>
        </div>
        <!-- show name -->
        <div class="col-xl-5 card m-2 px-5 yearName">
          <table class="table my-4">
              <thead>
                <tr>
                  <th class="tableItem" scope="col">排名</th>
                  <th class="tableItem " scope="col">名字</th>
                  <th class="tableItem text-end pe-5" scope="col">人數</th>
                </tr>
              </thead>
              <tbody>
                {% for i in data %}
                <tr>
                  <th class="tableItem" scope="row">{{forloop.counter}}</th>
                  <td class="tableItem " id="name{{forloop.counter}}">{{i.name}}</td>
                  <td class="tableItem text-end pe-5" id="people{{forloop.counter}}">{{i.people}}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
      </div>
    </div>

    <script>
      $(document).ready(
        function(){
          for(let i=2010;i>1879;i-=10)
          {
            $(`<option>`,{
              value:`${i}`
            })
            .text(`${i}`)
            .appendTo("#year");
          }
        }
      );

      $(document).ready(
        $('#year').change(function(){
          var serializedData = $(this).serialize();
          // send csrf token without using form tag in html
          let csrf = $('input[name="csrfmiddlewaretoken"]').val();
          $.ajax({
            headers:{'X-CSRFToken':csrf},
            type:"POST",
            url:"{% url 'history' gender %}",
            data: serializedData,
            success: function(data){              
              for (let i = 0;i<200;i++){
                $(`#name${i+1}`).text(data[i]['fields']['name'])
                $(`#people${i+1}`).text(data[i]['fields']['people'])
              }
            }
          });

        })
      );
    </script>

{% endblock content %}
