{% extends 'main.html' %}

{% block content %}

    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col-12"><h1 class="text-center">取英文暱稱</h1></div>
        <div class="col-12"><h2 class="text-center">簡單又快速</h2></div>
        <div class="col-12">
          <h6 class="text-center" style="color: rgba(0, 0, 0, 0.352)">
            迅速查找與中文讀音相似並符合出生年份主流的名字
          </h6>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="mainArea row justify-content-center">
        <div class="input col-xxl-6 h-100 card p-5 mt-3">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label fs-5">姓</label>
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="王"
              />
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label fs-5">名</label>
              <input
                type="password"
                class="form-control"
                id="inputPassword4"
                placeholder="大明"
              />
            </div>
            <div class="col-md-5 mb-3">
              <label for="inputPassword4" class="form-label fs-5">出生年</label>
              <input
                type="password"
                class="form-control"
                id="inputPassword4"
                placeholder="2000"
              />
            </div>
            <div class="col-md-5">
              <label for="inputPassword4" class="form-label fs-5">性別</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>男</option>
                <option>女</option>
              </select>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">輸入</button>
            </div>
          </form>
        </div>
        <div class="output row col-xxl-2 card p-5 mt-5">
          <h4 class="h4 col-12">推薦</h4>
          <ul class="name list-group list-group-flush col-12">
            <li class="list-group-item name">Tommy</li>
            <li class="list-group-item name">Bob</li>
            <li class="list-group-item name">Jimmy</li>
            <li class="list-group-item name">Kitty</li>
            <li class="list-group-item name">Joe</li>
          </ul>
        </div>
      </div>
    </div>

{% endblock content %}